<!DOCTYPE html>
<html lang="es">
<head>
  <title>INF-272 BD</title>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'carrito/css/bootstrap.min.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'carrito/js/bootstrap.min.js' %}"></script>
  <link rel="icon" type="image/png" href="{% static 'carrito/images/icons/favicon.ico' %}"/>
</head>
<body>
<div class="container-fluid">
  <h1>Sistema de Compras y Ventas</h1>
  <div class="row">
    <div class="col-xs-8">
        <h2>Lista de Productos</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Descripción</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Colageno Polvo</td>
        <td>150</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Colageno Capsula</td>
        <td>130</td>
      </tr>
      <tr>
          <td>3</td>
          <td>Moringa</td>
          <td>150</td>
      </tr>
    </tbody>
  </table>
    </div>
    <div class="col-xs-4">
        <h2>Panel Productos</h2>
        <form action="">
        <div class="form-group">
          <label>Descripción:</label>
          <input class="form-control">
        </div>
        <div class="form-group">
          <label>Precio:</label>
          <input class="form-control">
        </div>
        <button type="button" class="btn btn-primary">Insertar Producto</button>
        <button type="submit" class="btn btn-success">Modificar Producto</button>
      </form></div>
</div>
<!--------------------------------------------------------------------------------->
<div class="row">
        <div class="col-xs-8">
            <h2>Lista de Clientes</h2>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Nombres</th>
            <th>Apellidos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Carlos</td>
            <td>Perez</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Elena</td>
            <td>Butron</td>
          </tr>
          <tr>
              <td>3</td>
              <td>Marco</td>
              <td>Fuentes</td>
          </tr>
        </tbody>
      </table>
        </div>
        <div class="col-xs-4">
            <h2>Panel Clientes</h2>
            <form action="">
            <div class="form-group">
              <label>Nombres:</label>
              <input class="form-control">
            </div>
            <div class="form-group">
              <label>Apellidos:</label>
              <input class="form-control">
            </div>
            <button type="button" class="btn btn-primary">Insertar Clientes</button>
            <button type="submit" class="btn btn-success">Modificar Clientes</button>
          </form></div>
    </div>
    <div class="row">
            <div class="col-xs-8">
                <h2>Carrito de compras</h2>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Descripción</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>SubTotal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Colageno Polvo</td>
                <td>150</td>
                <td>1</td>
                <td>150</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Colageno Capsula</td>
                <td>150</td>
                <td>2</td>
                <td>260</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>Moringa</td>
                  <td>150</td>
                  <td>1</td>
                  <td>150</td>
              </tr>
            </tbody>
          </table>
            </div>
            <div class="col-xs-4">
                <h2>Panel Carrito</h2>
                <form action="">
                <div class="form-group">
                  <label>Codigo:</label>
                  <input class="form-control">
                </div>
                <div class="form-group">
                  <label>Cantidad:</label>
                  <input class="form-control">
                </div>
                <button type="button" class="btn btn-primary">Insertar al Carrito</button>
                <button type="submit" class="btn btn-success">Cancelar Total</button>
              </form></div>
        </div>
</div>
</body>
</html>